{% capture category %}{% if post %}{{ post.categories | category_links | size }}{% else %}{{ page.categories | category_links | size }}{% endif %}{% endcapture %}
{% unless category == '0' %}
<span class="glyphicon glyphicon-tags"></span>&nbsp;
<span class="categories">
  {% if post %}
    <span class="label label-success">{{ post.categories | category_links }}</span>
  {% else %}
    <span class="label label-success">{{ page.categories | category_links }}</span>
  {% endif %}
</span>
{% endunless %}


